
/* //--This is boys section parents--// */
.body{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.box{
    width:90%;
    height: 100px;
    padding-top: 20px;

}
.navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.inventobody{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.logo{
    width: 150px;

}
.searchbox{
    width:500px;
    border-radius: 20px;
    height: 50px;
}
.singin{
 background-color: transparent;
 color: green;
 margin-right: 10px;
 border: none;
}
.singup{
background-color: green;
width: 100px;
height: 30px;
color: white;
}
.leftside{
    width: 300px;
}
.rightside{
    width: 100%;
    margin-left: 20px;
}
.fc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pricedropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.price{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.hc{
    width: 110px;
    height: 50px;
    border-radius: 2px; 

}
.checkboxarrange{
    display: flex;
    width: 100%;
    align-items: center;
}
.rightsidebotton{
    width: 150px;
    height:50px;
    background-color: whitesmoke;
    border:none;
}
.textaline{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.imgdir{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.img3{
    width:20px;
    height:20px ;
}
